@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 2%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;

    --primary: 281.9 27.1% 79%;
    --primary-foreground: 0 0% 2%;

    --secondary: 316 29.4% 90%;
    --secondary-foreground: 0 0% 2%;

    --accent: 253 27.8% 50%;
    --accent-foreground: 0 0% 2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --ring: 217.9 10.6% 64.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 251 35% 6%;
    --foreground: 240 20% 99%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;

    /* Text: #050505 (RGB: 5 5 5)
    Background: #fafafa (RGB: 250 250 250)
    Primary: #cfbbd8 (RGB: 207 187 216)
    Secondary: #eddee9 (RGB: 237 222 233)
    Accent: #6b5ca3 (RGB: 107 92 163) */

    /* 'text': 'hsl(240 20% 99%)'
'background': 'hsl(251 35% 6%)'
'primary': 'hsl(253 34% 72%)'
'secondary': 'hsl(253 36% 5%)'
'accent': 'hsl(253 28% 70%)' */

    --primary: 253 34% 72%;
    --primary-foreground: 240 20% 99%;

    --secondary: 253 36% 5%;
    --secondary-foreground: 240 20% 99%;

    --accent: 253 28% 70%;
    --accent-foreground: 240 20% 99%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 215 27.9% 16.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}
